---
import { SEO_TITLE, SEO_DESCRIPTION } from '@constants';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = SEO_TITLE, 
  description = SEO_DESCRIPTION 
} = Astro.props;
---
<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />